@media screen and (min-width: 600px) {
  .container {
    margin-top: 9rem;
  }
}

.intro {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 1.5rem;
}

.intro div {
  text-align: left;
  font-size: 1rem;
}