#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 5%;
}

.layouts {
  height: 100%;
  margin: 0 auto;
  text-align: left;

  .layout {
    width: 1200px;
    min-height: 87%;
    margin: 0 auto;
  }
}

.logo {
  img {
    height: 55px;
    border-radius: 50%;
  }
}

.nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  align-items: center;
  height: 8%;
  margin: 0 auto;
}